*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #2cb7fd;
    background-image: url(https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg?_gl=1*1v7i3u0*_ga*ODA5OTIzODg5LjE3NDMxNzUwNjI.*_ga_8JE65Q40S6*czE3NTIzMzkxNDMkbzEwJGcxJHQxNzUyMzM5MTkyJGoxMSRsMCRoMA..);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: #fddc2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3{
    width: 100%;
    height: 100vh;
    background-color: #6790f8;
}

#page2 img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}